.header{
  .navbar{
    padding: 24px 0;
  }
  .img-nav{
    max-width: 310.5px;
    height: auto;
  }
  .list-nav{
    color: $color-2;
    /*於html下顏色"text-color-2"，hover會無法使用，不知道為何。只好以class下顏色*/
    padding: 24px 16px;
    &:hover{
      color: $color-3;
    }
  }
  .navbar-menuList:hover{
    background: $color-4;
  }

}
@include mobile{
  .img-nav{
    width: 179px;
  }
}