//banner
.banner{
  width: 100%;
  max-height: 707px;
  background-image: url(https://s3-alpha-sig.figma.com/img/67c5/aec3/dbcee1271e1b5a247185635a1ac60802?Expires=1669593600&Signature=Ej3QzmWBMnwfk0IaT7rh1nD5-e-1nGwwEkyrRBleUk67A38IWDVT~JO~BvSF6AuU5F9DTDlltcQuHJOL-nHRoaqmBgoM1LU8SfKSg8p~2pJ9jBn~vnkoiWUhfzot0-63BDKz-roLR4p-~~ktrCWXwwOeBC5xyDTMV~TYa4X6GQSFuGkODg9i13sRW2Ve-W8EorCASsNmM5-Oih16L~ZhV2sK6atK6bol-1b8RX2i79QFXOd1034U3eHXVDhGiTUoI2a2H7siA-MtbM05eretZWcVob88uGAtMTYUDp1O0SOgWLuxV9rzlc2rpguCz1klGbTsxeStRBuoD5lUVQcLiA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 63px 0 316.54px 43px;
  &-img{
    max-width: 356px;
    height: auto;
  }
  h1{
    padding-top: 26px; /*356-327.46=28.54，54.54-28.54*/
    padding-left: 475px;
  }
}
@include pad{
  .banner{
    max-height: 696px;
    background-image: url(https://s3-alpha-sig.figma.com/img/d7b5/5225/7f082d2e09e08a7e6026ad1abcab8d4b?Expires=1669593600&Signature=AkNz7KOB5DzXaCW973eT0Q4UzzJoqM37mlqGSQCiejcCKUNFSVofJ-psW5Fd-gMFmC42zJkc~iaD5Q9T478lJS8oNSVIQRP73NwMbDPmBYUX1i7giUXpMJvAke1rVgn8LS-6l6p4RabXG3A1iNfYznYZbmVxEqGAKol2lgPCR7N9rsaxCZJuixz~gTWt6Uo8DJx54~wJ8E6uDpMVOJFtbF56w7B5Gak4WYtSucwu-JyCmhLXxkDPWuomva9q24w2VLVrPAXb8GGmyskEB~nmT3BWdQnaHuLcgOoDyseFWOBizMldPPleeLTwb7bSfBCn~LfOYxUzEwjr8OiWQnQN7w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    padding: 167px 0 337px 26px;
    &-img{
      max-width: 209px;
    }
    h1{
      padding-top: 104px; /*209-192=17，121-17*/
      padding-left: 197px;
    }
  }
}
@include mobile{
  .banner{
    max-height: 512px;
    padding: 133px 0 249px 16px;
    &-img{
      max-width: 142px;
    }
    h1{
      padding-top: 80px; /*142-130=12，92-12*/
      padding-left: 160px;
    }
  }
}
//copywriter /*文案*/
.copywriter{
  background-color: #FDF7E8;
  padding: 88px 0;
  &-list{
    position: relative;
    width: 856px;
    height: 51px;
    border-radius: 10px;
  }
  &-img-t{
    max-width: 118px;
    position: absolute;
    top: -112px;
    left: 4px;
    z-index: 1;
  }
  &-img-m{
    max-width: 112px;
    position: absolute;
    top: -104px;
    left: 7px;
    z-index: 1;
  }
  &-img-b{
    max-width: 106px;
    position: absolute;
    top: -98px;
    left: 13px;
    z-index: 1;
  }
}
@include pad{
  .copywriter{
    padding: 80px 0;
    &-list{
      width: 632px;
      z-index: 2;
    }
    &-img-t, &-img-m, &-img-b{
      max-width: 80px;
    }
    &-img-t{
      top: -79px;
    }
    &-img-m{
      top: -77px;
    }
    &-img-b{
      top: -76px;
    }
  }
}
@include mobile{
  .copywriter{
    padding: 40px 0;
    &-list{
      width: 464px;
    }
  }
}
//suitable /*合適*/
.suitable{
  padding: 88px 0;
  &-bg{
    width: 1076px;
    height: 807px;
    position: relative;/*不能從html呈現，會跑位*/
    /*width: auto;
    max-height: 807px;*/
    background-image: url(https://s3-alpha-sig.figma.com/img/6ef1/1364/a42c30b88089a1cf9d445664dfef5bb5?Expires=1669593600&Signature=GIRwVywqfMFU~nKn971et-2RoSER~qYVmRK7FkEYYA9hjvg8nEhSJR5Wh4yK8m7QXp0EE6IN0yYS0~lVFkzFrusKD889OR4nS6WlY4Xt5OcRLi3zSNUDssBEDdpKpbys5PALle23XmkYT0oEzZmmya4fvNFFfBXwqnNQSbgKIuDU1laLXTGWcpkPdVc95b8F1XlZOnGDKMHbdHi-5UTu3ExQLtbOWSawwB-aCouJYseoro6xj1TApjmfvd15kNRZl0sYHucu0GeunuhfyXJhNpfM-A0PFwD4jmexRBkO0K8iVX1n0Co8dSJZMLClZkyAhSZbQzJuj-ykWG2xy3hJRg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid $color-3;
    border-radius: 20px;
    &::after{
      content: "互動式網頁設計";
      position: absolute;
      /*
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      */
      /* 上-方法一與下-方法二，皆可讓偽元素垂直置中*/
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
      font-size: $h1-font-size;
      line-height: 1.2;
      writing-mode: vertical-lr; /*文字垂直*/
      text-orientation: upright; /*文字垂直*/
    }
  }
  &-imgR, &-imgL{
    max-width: 356px;
    padding-top: 282px;
  }
  &-imgR{
    margin-right: 335px;
  }
}
@include pad{
  .suitable{
    &-bg{
      width: 632px;
      height: 570px;
      &::after{
        font-size: $h4-font-size;
      }
    }
    &-imgR, &-imgL{
      max-width: 186px;
      padding-top: 206px;
    }
    &-imgR{
      margin-left: 42px;
      margin-right: 164px;
    }
  }
}
@include mobile{
  .suitable{
    &-bg{
      width: 464px;
      height: 464px;
      &::after{
        font-size: $h5-font-size;
      }
    }
    &-imgR, &-imgL{
      max-width: 151px;
      padding-top: 170px;
    }
    &-imgR{
      margin-left: 29px;
      margin-right: 118px;
    }
  }
}
//main /*主要的*/
.main{
  padding: 88px 0;
  .row{
    padding: 0 110px;
  }
  .card{
    width: 342.67px;
    border-color: $color-3;
    border-radius: 20px;
    img{
      width: auto;
      height: 233px;
      border-radius: 20px 20px 0 0;
    }
    &-footer{
      border-color: $color-3;
      border-radius: 0 0 20px 20px;
    }
  }
  .card-up:hover{
    display: none;
  }
  .card-down{
    display: none;
    z-index: 1;
    p{
      position: relative;
    }
    ::before{
      content: "";
      position: absolute;
      top: 6px;
      left: 5px;
      width: 150px;
      height: 51px;
      background: $color-1;
      border: 1px solid #E335FF;
      z-index: -2;
    }
    /*&:hover{
      display: block;
    }*/
  }
  .card-down:hover{
    display: block;
  }
}
@include pad{
  .main{
    .row{
      padding: 0;
    }
  }
}
//illustrate /*說明*/
//contest /*比賽*/
//join /*加入*/
//sponsor /*贊助*/