<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>

    <!--header-->
    <div class="header">
      <nav class="navbar">
        <div class="container">
          <div class="navL d-flex align-items-center">
            <a class="" href="#">
              <img class="img-nav" src="https://s3-alpha-sig.figma.com/img/fc48/508e/b59c276a3fd21de506ad5f1d461026b5?Expires=1668988800&Signature=WTj9NJN9iG-~~2utk1NbZy7uQCns7AyIoBkgtzArKzO4KMIXXiXGEFo7tROT95~yslLXVs5X3bFe1QNXlHvXOBRi1X6XzCcOS2Vfhkt04zpL6Azt3bc00fxqFVBw57CWybwm4eOM0Rhv8teS9Cw3DqlLpXmr27OotM2VKXQsaV12xL-YXOGujcVbY1884i5tp3JwOf~KcCmCBwDcuKHeNOmAqW-whGj~hk4kanpL7qsuPc4Tlgr9aH~cJN6zv3bvtyNK7l7FtbbheSGIVbtTaRSzQlOu3xDAfZasmvKGoREA2mEvHA49QaiOyqdzxvgHmlwkRXRDmAPFYB4XQd~AXQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="logo">
            </a>
            <ul class="list-unstyled d-flex m-0">
              <li class=""><a class="list-nav text-color-2 fz-5" href="">關卡資訊</a></li>
              <li><a class="list-nav text-color-2 fz-5" href="">作品列表</a></li>
              <li><a class="list-nav text-color-2 fz-5" href="">攻略資源</a></li>
              <li><a class="list-nav text-color-2 fz-5" href="">求職專區</a></li>
            </ul>
          </div>
          <div class="nacR">
            <button type="button" class="btn btn-warning">註冊報名</button>
            <button type="button" class="btn btn-warning">登入</button>
            <a class="" href="" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation"><img src="./assets/images/eva_menu-fill.png" alt="Menu"></a>
          </div>
        </div>
      </nav>
      <!--Collapse-->
      <div class="collapse" id="navbar-menu">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Collapsed content</h5>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>
    </div>

    <!--
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    -->
    <%- contents %>

    <footer class="footer">
      footer
    </footer>


    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>