/*容器*/

.container{
    max-width: 1320px;
    padding: 0 12px;
    margin: 0 auto;
}

@include pad{
    .container{
        max-width: 720px;
        padding: 0 12px;
    }
}
@include mobile{
    .container{
        max-width: 540px;
        padding: 0 12px;
    }
}
